@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  @apply bg-neutral-50 font-body text-neutral-800;
}

textarea {
  field-sizing: content;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full bg-neutral-200;
}
